<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>REGISTRO - Galo Software!</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@400;500;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />


<body class="bg-purple">
    <a href="http://localhost:5000/"><span class="material-symbols-outlined seta">arrow_back_ios</span></a>

    <div class="conteudo">
        <div class="principal-login bg-eclipse2 mar">
            <h1 class="title center orange-txt" id="titulo3">inscrever-se</h1>
            <h3 class="sub-title center" id="subtitulo2">Continuar</h3>
        </div>

        <div class="inputs2">
            <form method="POST">
                <input class="transparent line_white reg_input" type="nome" name="nome" placeholder="NOME:" required>
                <input class="transparent line_white reg_input" type="email" name="email" placeholder="E-MAIL:"
                    required>
                <input class="transparent line_white reg_input" type="login" name="login" placeholder="LOGIN:" required>
                <input class="transparent line_white reg_input" type="password" name="password" placeholder="SENHA: "
                    required>
                <input class="transparent line_white reg_input" type="password" name="conf-password"
                    placeholder="CONFIRME A SENHA:" required>
                <button class="btn-white" type="submit">LOGIN</button>
            </form>
        </div>
    </div>
</body>

</html>